# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Python files
# =========================
models/

# Config files or cache
.ipynb_checkpoints
*.log
*.sqlite3
*.pkl
*.h5
*.csv
*.parquet
*.tmp

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Data folder
# =========================
space-images-category/
space_images_split/